.description-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.tech-container {
  /* margin-right: 5px; */
  /* margin-left: -800px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
